@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* green-600 — readable on light backgrounds */
  --color-primary: 22 163 74;
}

.dark {
  /* green-800 — pops nicely on dark backgrounds */
  --color-primary: 22 101 52;
}

@layer base {
  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 3px;
    border: 2px solid;
    background-color: theme("colors.neutral.600");
    border-color: theme("colors.neutral.300");
  }

  .dark ::-webkit-scrollbar-thumb {
    background-color: theme("colors.neutral.400");
  }
}
